*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #DB7F8E;
}

form{
    box-shadow: 10px 10px 8px #454545;
    padding: 50px 50px;
    background-color: #FFDBDA;
    min-height: 20vmin;

}

form h1{
    margin-bottom: 35px;
    font-size: 2rem;
}

form input{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 0.9rem;
}

form button{
    width: 100%;
    padding: 5px;
    background-color: #A9DDD6;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 400;
}

